{% extends "homepage.html" %}

{% block title %}
    Fléshi - Perfil
{% endblock %}

{% block body %}
<body>
    {% include "navbar.html" %}

    <h1>Perfil do usuário: {{ user.username }}</h1>

    {% if form %}
    <form method="post" enctype="multipart/form-data">
        {{ form.csrf_token }}

        {{ form.photo }}

        <label>Legenda:</label>
        {{ form.caption }}

        {{ form.submit }}
    </form>
    {% endif %}

    {% for photo in photos %}
        <div style="margin-bottom: 20px;">
            <img src="{{ url_for('static', filename='posts_photos/' ~ photo.file_name) }}"
                 style="max-width: 300px;">

            {% if photo.caption %}
                <p>{{ photo.caption }}</p>
            {% endif %}

            {% if current_user.is_authenticated and current_user.id == user.id %}
                <form action="{{ url_for('delete', photo_id=photo.id) }}" method="POST">
                    <button type="submit" class="delete-btn">Excluir</button>
                </form>
            {% endif %}
        </div>
    {% endfor %}
</body>
{% endblock %}
